#setup-title {
  line-height: 0;
  margin-bottom: 29px;
}

.setup-text-block h1 {
  line-height: 2rem;
}

.setup-text-block h2 {
  margin-top: 1.6em;
}

.setup-page {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  margin-top: 13vmin;
  margin-bottom: 13vmin;
}

.setup-img-block {
  width: 45%;
  display: flex;
  justify-content: center;
}

.setup-text-block {
  width: 55%;
}

.setup-tutor-p {
  display: inline-block;
  line-height: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.setup-checkboxes canvas {
  margin-top: 1em !important;
}

.setup-btn a {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  text-decoration: none;
}

.setup-text-block h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.setup-text-block h3:first-of-type {
  margin-bottom: 6px;
}

.setup-mobile-text-block {
  max-width: 522px;
}

.setup-mobile-text-2 {
  max-width: 483px;
}

.setup-mobile-text-3 {
  max-width: 484px;
}

.setup-mobile-text-4 {
  max-width: 444px;
}

.setup-mobile-text-5 {
  max-width: 522px;
}

.setup-user-data b {
  color: #32A776;
}

.setup-mobile-text-block .mobilesetup-login-btn {
  margin: -4px 0 10px 0;
  width: 60px; 
  height: 24px
}

.setup-mobile-text-block .mobilesetup-password-btn {
  margin: -4px 0 24px 0; 
  width: 60px; 
  height: 24px;
}