:root {
  --border: 0.5px solid #32A776;
  --border-radius: 3px;
}

.casper-dropdown-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 99%;
  margin: 0px;
  background: #FFFFFF;
}

.casper-dropdown-select:focus {
  outline: none;
}

.casper-dropdown-select img {
  margin-right: 8px;
}

.casper-dropdown-select-text {
  text-transform: capitalize;
}

.casper-dropdown-select-text, .casper-search-input {
  color: #404040;
  margin: 0 0 0 8px;
  font-family: Lato;
  font-size: 16px;
  padding: 0 !important;
}

.casper-search-input {
  border: none !important;
  width: 80%; 
}

.casper-search-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.casper-option {
  padding: 8px;
  font-family: Lato;
  font-size: 16px;
  color: #404040;
  text-transform: capitalize;
}

.casper-option:focus, .casper-option:hover {
  background: rgba(50, 182, 122, 0.2);
  outline: none;
}

.casper-dropdown {
  position: relative;
  border: var(--border);
  width: 144px;
  height: 34px;
  padding: 1px;
  left: 0px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.casper-dropdown-open {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.casper-menu {
  position: absolute;
  border: var(--border);
  width: 144px;
  box-sizing: content-box;
  margin: 0;
  padding: 1.2px;
  left: -0.5px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background: #FFFFFF;
}

.casper-menu::-webkit-scrollbar-track {
	border-radius:  10px;
	background-color: transparent !important;
}

.casper-menu::-webkit-scrollbar {
	width: 4px;
	background-color: transparent !important;
}

.casper-menu::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #999999;
}