#faq-page {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#faq-page header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #247F59;
  align-items: center;
}

.faq-page-h1 {
  display: flex;
  flex-direction: column;
}

.faq-page-h1 h1 {
  color: white;
}

.faq-page-img {
  margin: 35px 75px 35px 10%;
}

#faq-page h2 {
  font-weight: bold;
  line-height: 1.25em;
  padding: 0;
  margin: 0;
}

.faq-page-content-block {
  display: flex;
  margin-top: 20px;
}

.faq-page-text-block {
  max-width: 450px;
}

.faq-page-text-block p {
  line-height: 20px;
  margin-top: 10px;
}

.questions-block {
  max-width: 480px;
  margin-top: 60px;
  margin-bottom: 120px;
  margin-left: calc(10% + 150px + 70px);
}

.questions-block h1 {
  text-align: center;
  margin-bottom: 32px;
}