
@media (min-width: 768px) and (max-width: 1024px) {
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
}
  
@media (min-width: 768px) and (max-width: 1024px) {
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
}

@media (max-width: 767px) {
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  .modal-content-header h1, .modal-content-text h2 {
    font-size: 12px;
    line-height: 12px;
  }
  
  .modal-content-text p, .modal-content-text td, .modal-content-text th, .modal-content-text ul, .modal-content-text li {
    font-size: 10px;
  }

  .modal-content-text ul {
    padding-left: 1rem;
  }

  .modal-content-block {
    width: 320px;
    height: 480px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .modal-content-block {
    width: 480px;
    height: 320px;
  }
}

/* .modal-back {
  
}

.modal-window {

}

.modal-content-wrap {
  
}

.modal-content-block {
  
}

.modal-content-header {
  
}

.modal-content-header h1 {
  
}

.modal-close-icon {
  
}

.modal-buttons-block {
  
} */