.modal-content-text::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

.modal-content-text::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

.modal-content-text::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #C4C4C4;
}

.modal-back, .modal-window, .modal-content-wrap {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-window {
  display: flex;
  z-index: 98;
  overflow: hidden;
}

.modal-back {
  z-index: 99;
  background: rgba(204, 204, 204, 0.6);
}

.modal-content-wrap {
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.modal-content-block {
  min-width: 36%;
  min-height: 64%;
  max-height: 576px;
  max-width: 576px;
  background: #F9F9F9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-content-text {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 21px;
  box-sizing: border-box;
}

.modal-content-header {
  position: relative;
}

.modal-content-header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
}

.modal-content-text h2, .modal-content-text p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

.modal-close-icon {
  position: absolute;
  right: 16px;
  top: 12px;
  cursor: pointer;
}

.modal-buttons-block {
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-buttons-block button {
  margin: 0 12px;
}

.modal-buttons-block button:active {
  margin: 0 19px;
}