.casper-question-activities-progress {
  width: 444px !important;
  position: relative;
  margin-bottom: 60px;
}

.progress-bar-checkboxes {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  z-index: 2;
}

.progress-bar-lines {
  position: relative;
  width: calc(100% - 24px);
  display: flex;
  margin: 0 auto;
  z-index: 1;
  top: 14px;
}

.progress-bar-line, .progress-bar-line-full {
  height: 12px;
  border-radius: 1px;
}

.progress-bar-line {
  background: #DADADA;
}

.progress-bar-line-full {
  background: #A5D3C0;
}

#progress-bar-title {
  width: max-content;
  font-family: Lato;
  font-size: 14px;
}

@media (max-width: 767px) {
  .casper-question-activities-progress {
    width: 233px !important;
  }

  #progress-bar-title {
    font-size: 12px;
  }
}