.blotcycler-col-user-checkbox {
  width: 10px
}

.blotcycler-col-user-id {
  width: 30px
}

.blotcycler-col-user-name {
  width: 100px
}

.blotcycler-col-user-authorized {
  width: 30px
}

.blotcycler-col-user-phone {
  width: 100px
}

.blotcycler-col-user-email {
  width: 100px
}

.blotcycler-col-user-token {
  width: 100px
}

.blotcycler-col-user-controls {
  width: 30px
}

.blotcycler-label-userlist {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.bc-user-loader-popup {
  width: 300px;
  height: 300px;
}

.bc-user-loader {
  display: inline;
}

.bc-user-loader-text {
  width: 100%;
  box-sizing: border-box;
  height: 300px;
}

.bc-user-notif {
  display: inline;
}

.bc-user-notif-title {
  width: 100%;
  box-sizing: border-box;
}

.bc-user-notif-body {
  width: 100%;
  box-sizing: border-box;
  height: 150px;
}

.bc-users-notif-groups {
  width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-row-gap: 10px;
  grid-column-gap: 2%;
  box-sizing: border-box;
}

.bc-user-notif-group-item {
  width: 100%;
  text-align: left;
}

.bc-user-notif-group-box {
  width: 100%;
  display: flex;
}

.bc-user-notif-group-box-hidden {
  display: none;
}

.bc-user-label {
  margin: 0;
}

.bc-user-notif-group-label{
  margin: 10px 10px 0px 10px;
}

.bc-user-notif-group-input{
  margin: 0px;
  width: 100%;
}

.bc-user-notif-email-input {
  width: 100%;
}

.bc-user-notif-xmpp-input {
  width: 100%;
}
