.casper-questions{
  width: 50%;
  float: left;
  padding-left: 2em;
  box-sizing: border-box;
}

.casper-scheduler-questions {
  width: 50%;
  float: right;
  padding-left: 2em;
  box-sizing: border-box;
}