.casper-sheduler-popup-left-col {
  width: 50%;
  float: left;
}

.casper-sheduler-popup-right-col {
  width: 50%;
  float: right;
}

.casper-sheduler-popup-control {
  font-size: 12pt !important;
  height: 30px !important;
}

select {
  width: 50%
}

textarea {
  width: 100%;
  min-height: 50px;
}