.range-input-block {
  position: relative;
  width: 100%;
  /* width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px; */
}

.range-input-titles {
  display: flex;
  justify-content: space-between;
}

.range-input-left-title, .range-input-right-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #404040;
}

.range-input-handle {
  background: #32A776;
  box-shadow: 0px 4px 12px rgba(50, 167, 118, 0.12);
  width: 20px;
  height: 20px;
  transition: all 100ms;
}

.range-input-track, .range-input-rail {
  height: 14px !important;
  background: #D3D6D4;
  margin-top: 7px;
  border-radius: 1px;
  transition: background-color 500ms;
}