/* Headers */

.casper-header {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.casper-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 286px;
  margin-right: 120px;
  margin-bottom: 16px;
}

.casper-header-texts {
  display: flex;
  flex-direction: column;
}

.casper-header h1 {
  font-style: normal;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 0px;
  color: #303030;
  margin-bottom: 19px;
}

.casper-header h2, .casper-header a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.casper-header h2 {
  color: #000000;
}

.casper-header a {
  font-weight: bold !important;
}

.casper-header-help-tooltip {
  display: flex;
  align-items: end;
  text-align: right;
}

.casper-header-help-tooltip p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 0 12px;
}

/* Intro Sreens */

.casper-intro-screen {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  box-sizing: border-box;
}

.casper-intro-img {
  max-height: 81vh;
}

.casper-intro-text-block {
  margin-bottom: 10%;
}

.casper-intro-text-block h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #303030;
}

.casper-intro-text-block span {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #515151;
}

.casper-intro-text-block h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

#casper-singleevening-intro h2 {
  font-size: 20px;
  line-height: 32px;
  max-width: 440px;
}

.question-container-range-one {
  margin-bottom: 0px !important;
}

  /* Question Layout */

.full-size {
  max-width: max-content !important;
}

.casper-question-layout {
  width: 100vw;
  min-height: 100vh;
  background: #F8F8F8;
}

.casper-question-layout-body {
  display: flex;
  flex-direction: column;
  max-height: max-content;
  align-items: center;
  position: relative;
  top: -31px;
}

.casper-question-progress {
  display: flex;
  justify-content: space-between;
  width: 331px;
  margin-top: 0px;
  margin-bottom: 30px;
  align-items: baseline;
}

.casper-question-progress p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #303030;
  margin: 0;
  line-height: 0;
}

.casper-question-progress-bar {
  display: flex;
  width: 240px;
  height: 12px;
  background: #A5D3C0;
}

.casper-question-progress-bar div {
  height: 100%;
}

.progress-block-active {
  background: #247F59;
}

.casper-question-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.question-container {
  width: 100vw;
  overflow-x: hidden;
}

.question-container-all {
  margin-bottom: 36px;
}

.question-container-all h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  max-width: 580px;
}

.question-container-bubbles {
  width: auto !important;
  max-width: 450px;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: center !important;
  margin: 16px auto 0 auto !important;
}

.question-container-checkers {
  width: 512px;
  margin: 8px auto 0 auto;
}

.question-container-dropdown-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.question-container-text-input, .question-container-checkers-other {
  display: flex;
  align-items: baseline;
  width: 415px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.question-container-text-input {
  justify-content: center; 
}

.question-container-text-input-reason {
  width: 512px !important;
}

.question-container-text-input-reason input {
  width: 100% !important;
}

.question-container-checkers-reason {
  display: flex;
  justify-content: center;
  margin: 10px auto !important;
}

.question-container-checkers-other {
  justify-content: space-between;
  margin-top: 1.3em;
}

.question-container-checkers-other input {
  width: 360px;
  background: #FFFFFF;
  border: 0.5px solid #999999;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0;
  height: 33px;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #303030;
  padding-right: 12px !important;
}

.question-container input:hover {
  border: 0.5px solid #999999;
}

.question-container input:focus {
  outline-color: none;
  border: 0.5px solid #247F59;
  box-shadow: none;
}

.question-container-range-inputs {
  max-width: 470px;
  margin: 26px auto 0px auto;
  display: flex;
  flex-direction: column;
}

.question-container-range-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 56px;
  align-items: center;
  margin-bottom: 40px;
}

.question-container-range-input h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 9px;
}

.question-container-range-input .range-input-block {
  width: 300px;
}

.question-container-range-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.question-container-range-text h1 {
  margin-right: 4px;
  margin-bottom: 0px;
}

.question-container-range-text img {
  width: 12px;
  height: 12px;
}

.tippy-tooltip.casper-theme {
  padding: 8px 12px;
  display: flex;
  color: #404040;
  background: #CCCCCC;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.tippy-tooltip.casper-theme p {
  margin: 0px;
}

.tippy-svg-arrow, .tippy-tooltip.casper-theme {
  margin-top: 9px !important;
}

.tippy-svg-arrow {
  fill: #CCCCCC !important;
}

.question-container-checkers-options {
  width: 440px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
}

#question-title-happiness, #question-title-sleepduration {
  max-width: 420px;
}

#question-title-duration, #question-title-agree {
  max-width: 650px;
}

#question-title-feeling, #question-title-energylevel {
  max-width: 500px;
}

#question-title-reason, #question-title-todo, #question-title-productivity, #question-title-activity {
  max-width: 480px;
}

#question-title-rubbishbin {
  max-width: 440px;
}

#question-title-emotion, #question-title-experience, #question-title-goodactivities {
  max-width: 600px;
}

#question-title-age, #question-title-gender {
  max-width: 300px;
}

#question-title-tensionrate {
  max-width: 320px;
}

.question-container .question-container-all #q-reasonfear-h1 {
  max-width: 550px;
}

.survey-textarea {
  resize: none;
  width: 512px;
  height: 256px;
  font-family: Lato;
  background: white;
}

.question-container-checkers-reason-textarea {
  height: 134px;
}

.survey-textarea:focus {
  border: 0.5px solid #247F59;
  outline: none !important;
  box-shadow: none !important;
}

.question-currentactivity-block {
  width: max-content;
  background: #A5D3C0;
  border-radius: 1px;
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  padding: 6px 10px;
  margin: 0 auto 32px auto;
}

.casper-emotion-buttons-block {
  width: 463px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 14px auto 20px auto;
}

.casper-emotion-forHTML .question-container-range-input {
  background: #FFFFFF;
  border: 0.5px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 2px;
  width: 338px;
  height: 121px;
  padding: 20px;
  margin: 0 auto;
}

.question-label-buttons button {
  background: #FFFFFF;
  border: 1px solid #32A776;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 6px 19px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 6px;
  cursor: pointer;
}

.question-label-buttons button:focus {
  outline: none;
}

.question-label-buttons button.active-label-btn {
  background: #32A776;
  color: #FFFFFF;
}

@media (max-width: 1360px) and (min-width: 768px) {
  .question-currentactivity-block {
    margin: 0 auto 26px auto;
  }

  .casper-header {
    background-size: auto 100%;
    height: 180px;
  }

  .casper-header-content {
    margin-left: 230px;
    margin-right: 110px;
  }

  .casper-header-help-tooltip p {
    font-size: 22px;
  }

  .casper-header h1 {
    font-size: 20px;
  }

  .casper-header h2, .casper-header a {
    font-size: 17px;
  }

  .casper-question-progress {
    margin-bottom: 26px;
  }

  .casper-question-progress-bar {
    height: 10px;
  }

  .question-container-all h1 {
    font-size: 21px;
    max-width: 430px;
  }

  .casper-question-progress p {
    font-size: 13px;
  }

  .question-container-range-input h1 {
    font-size: 17px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .casper-header-content {
    width: auto !important;
    margin-right: 16px !important;
  }
}

@media (max-width: 767px) {
  .question-currentactivity-block {
    margin: 0 auto 22px auto;
  }

  /* Headers */
  #afternoon-header {
    background-image: url(../../assets/img/afternoon_header_mobile.png) !important;
  }

  #demographic-header, #morning-header {
    background-image: url(../../assets/img/morning_header_mobile.png) !important;
  }

  #evening-header {
    background-image: url(../../assets/img/evening_header_mobile.png) !important;
  }

  #demographic-header a {
    display: block;
  }

  #demographic-header h2 {
    line-height: 20px;
  }

  #demographic-header .casper-header-texts {
    margin-top: 12px;
  }

  .casper-header {
    height: 127px;
    box-sizing: content-box;
  }

  .casper-header-content {
    margin-left: 104px;
    margin-right: 12px;
  }

  .casper-question-layout-body {
    top: -25px;
  }

  .casper-header-help-tooltip p {
    display: none;
  }
  
  .casper-header h1, .casper-header h2 {
    width: auto;
  }
  
  .casper-header h1 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 6px;
    margin-top: 0px;
  }
  
  .casper-header h2, .casper-header a {
    font-size: 14px;
    line-height: 16px;
  }

  /* Intro Sreens */

  .casper-intro-screen {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .casper-intro-img {
    height: auto;
    width: 92vmin;
    margin: 0 0 14px 0 !important;
  }

  .casper-intro-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .casper-intro-text-block h1 {
    font-size: 20px;
    line-height: 0.55rem;
  }

  .casper-intro-text-block span {
    font-size: 12px;
    line-height: 1.25rem;
  }

  .casper-intro-text-block h2 {
    font-size: 14px;
    line-height: 1.25rem;
    margin: 16px 0;
  }

  .question-container h1 {
    font-size: 20px;
    line-height: 28px;
  }

  .question-container-range-inputs {
    margin: 18px auto 48px auto;
  }

  .question-container-range-input h1 {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 7px;
  }
  
  .question-container-checkers {
    width: 512px;
  }

  .question-container-checkers-other {
    margin-top: 22px;
    flex-direction: column;
  }

  .question-container-checkers-other input {
    margin-top: 12px;
  }

  .question-container-text-input {
    width: 324px;
  }

  .question-container-text-input input, .survey-textarea {
    width: 100%;
    font-size: 12px;
    padding: 9px;
  }

  .question-container-text-input input:focus {
    border: 0.5px solid #247F59;
    outline: none !important;
    box-shadow: none !important;
  }

  #q-reason-h1 {
    width: 293px !important;
  }

  #q-reasonfear-h1 {
    width: 320px !important;
  }

  .question-container-checkers-options {
    width: 100%;
    max-height: max-content !important;
  }

  .casper-btn-plus {
    width: 80px !important;
    height: 32px !important;
    font-size: 16px !important;
    font-weight: 100 !important;
  }

  .question-container-all, .question-container-range-one {
    margin-bottom: 24px;
  }

  #question-title-energylevel, #question-title-tensionrate {
    max-width: 300px;
  }

  #question-title-feeling, #question-title-sleepduration {
    max-width: 330px;
  }

  #question-title-todo {
    max-width: 270px;
  }

  #question-title-happiness {
    max-width: 240px;
  }

  #question-title-productivity, #question-title-experience {
    max-width: 280px;
  }

  #question-title-container {
    max-width: 280px;
  }

  #question-title-rubbishbin {
    max-width: 350px;
  }

  .question-container-checkers-reason {
    margin: 3px auto !important;
  }

  .question-container-text-input-reason, .question-container-text-input-reason input {
    margin-bottom: 0px !important;
  }

  .question-container-range-inputs .question-container-range-input:last-child {
    margin-bottom: 0px !important;
  }

  .question-container-checkers-reason-textarea {
    height: 150px;
  }

  .question-container-checkers-reason-textarea textarea {
    width: 280px;
  }

  .casper-emotion-buttons-block {
    width: 350px;
  }
}