.casper-scheduler-template-area {
  min-height: 400px;
  width: 100%;
}

.casper-scheduler-template-controls{
  display: flex;
}

.casper-scheduler-template-test-input {
  display: flex;
  width: 40px !important;
  height: 20px;
  padding: 0 !important;
  margin-left: 5px;
}
