#setup-title {
  line-height: 0;
  margin-bottom: 29px;
}

.setup-text-block h2 {
  margin-top: 1.6em;
}

.setup-page {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  margin-top: 13vmin;
  margin-bottom: 13vmin;
}

.setup-img-block {
  width: 45%;
  display: flex;
  justify-content: center;
}

.setup-text-block {
  width: 55%;
}

.setup-tutor-p {
  display: inline-block;
  line-height: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.setup-checkboxes canvas {
  margin-top: 1em !important;
}

.setup-btn a {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  text-decoration: none;
}

.setup-text-block h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.setup-text-block h3:first-of-type {
  margin-bottom: 6px;
}