.option {
  display: block;
  margin-bottom: 0.25em;
  font-weight: 100;
  padding-left: 1.3em;
  font-family: 'Lato', sans-serif;
}

.check__input {
  position: absolute;
  appearance: none;
  border-radius: 0;
  opacity: 0;
  -webkit-border-radius:0px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check__box {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0;
  position: absolute;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-left: -1.3em;
  margin-top: .2em;
  background-image: url(../../../assets/svg/checkmark_idle.svg); 
}

.check__input:checked + .check__box {
  background-image: url(../../../assets/svg/checkmark_checked.svg);
}

.check__box_research {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0;
  position: absolute;
  width: 1.13em;
  height: 1.13em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-left: -1.7em;
  margin-top: .05em;
  background-image: url(../../../assets/svg/research_idle.svg);
}

.option_research {
  padding-left: 1.7em !important;
}

.check__input:checked + .check__box_research {
  background-image: url(../../../assets/svg/research_checked.svg);
}

.check__input:focus, .check__input:checked, .check__input:active {
  outline: none !important;
}

@media (max-width: 767px) {
  .option_research {
    font-size: 16px !important;
    padding-left: 1.4em !important;
  }

  .check__box_research {
    margin-top: 0px !important;
    margin-left: -1.4em !important;
  }
}
