.casper-dropdownblock {
  width: 338px;
  height: 121px;
  background: #F9F9F9;
  border: 0.5px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 12px;
  margin-bottom: 16px;
}

.casper-dropdownblock-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12px;
}

.casper-dropdownblock-img {
  height: 20px;
  cursor: pointer;
}