.casper-admin-button-block {
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
}

.casper-admin-button-default {
  color: rgb(0, 117, 255);
  text-decoration: underline;
  font-family: var(--lato)
}

.casper-admin-button-default:hover {
  color: #0056b3;
  cursor: pointer;
}

.casper-admin-button-default-disabled {
  color: lightgray;
  text-decoration: underline;
  font-family: var(--lato)
}
