.casper-emails-panel {
  display: flex;
}

.casper-emails-list {
  width: 30%;
  border: solid lightgray 1px;
}

.casper-emails-controls {
  width: 70%;
  padding-right: 10px;
  padding-left: 10px;
}

.casper-email-input {
  width: 100%;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 5px;
  padding: 4px;
  box-sizing: border-box;
}

.casper-email-textarea {
  width: 100%;
  min-height: 270px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}
