#subscribe-title {
  line-height: 0;
  margin-bottom: 29px;
}

.subscribe-checkboxes {
  width: 340px;
}

.subscribe-text-block h2 {
  margin-top: 1.6em;
}

.subscribe-page {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  margin-top: 13vmin;
  margin-bottom: 13vmin;
}

.subscribe-img-block {
  width: 38%;
  display: flex;
  justify-content: center;
}

.subscribe-text-block {
  width: 62%;
}

.subscribe-tutor-p {
  display: inline-block;
  line-height: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.subscribe-text-block h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.subscribe-text-block h3:first-of-type {
  margin-bottom: 26px;
}