@media (min-width: 767px) {
  .divider {
    margin: 42px 0 26px 0;
  }

  .subscr-btn {
    margin-top: -9px;
    margin-bottom: 8px;
  }

  .setup-btn {
    margin-top: 9px;
    margin-bottom: 8px;
  }

  .subscribe-checkboxes {
    width: 340px;
  }

  .setup-checkboxes {
    width: 380px;
  }

  .subscribe-checkboxes .divider, .setup-checkboxes .divider {
    width: 480px;
  }

  .option {
    margin-bottom: 1.8em;
  }

  .subscribe-tutor, .setup-tutor {
    width: 380px;
    margin-bottom: 22px;
  }

  .subscribe-tutor-p, .setup-tutor-p {
    display: inline;
    margin-right: 5px;
  }

  .faq-page-img {
    width: 100px;
    margin: 25px 114px 25px 11%;
  }

  .faq-page-h1 h1 {
    line-height: 12px;
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

  .casper-btn, .casper-btn-sec {
    font-size: 14px;
  }

  .casper-img-greeting {
    width: 260px;
    height: 260px;
  }
  
  .casper-img-celebratory {
    width: 240px;
    height: 260px;
  }

  .subscr-btn, .setup-btn {
    padding: 14px 18px 16px 18px !important;
    font-size: 16px !important;
  }

  .setup-mobile-text-block {
    max-width: 390px !important;
  }

  .setup-mobile-text-block .setup-btn {
    font-size: 14px !important;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
  .casper-btn, .casper-btn-sec {
    font-size: 14px;
  }

  .casper-img-greeting {
    width: 260px;
    height: 260px;
  }
  
  .casper-img-celebratory {
    width: 240px;
    height: 260px;
  }

  .subscr-btn, .setup-btn {
    padding: 14px 18px 16px 18px !important;
    font-size: 16px !important;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }
}