@media (max-width: 767px) {
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

  .setup-text-block h2, .subscribe-text-block h2 {
    font-size: 13px;
  }

  .setup-btn a {
    font-size: 16px !important;
  }

  #setup-title, #subscribe-title {
    display: flex;
    justify-content: center;
    margin-bottom: 8px !important;
  }

  .setup-page .setup-text-block h1 {
    line-height: 1.4rem;
  }

  .setup-page .setup-text-block h2 {
    font-size: 14px;
  }

  .setup-page .setup-text-block h3 {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
  }

  .setup-page .setup-text-block .setup-user-data {
    font-size: 16px;
    line-height: 16px;
    margin: 10px;
  }

  .setup-page .setup-text-block .setup-user-data:last-of-type {
    margin-bottom: 20px;
  }

  .setup-user-data-login {
    font-size: 12px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
  }

  .setup-mobile-text-block .mobilesetup-login-btn {
    margin: 10px auto 20px auto !important;
  }
  
  .setup-mobile-text-block .mobilesetup-password-btn {
    margin: -10px auto 20px auto !important;
  }

  .casper-btn, .casper-btn-sec {
    font-size: 12px;
    width: 60px;
    height: 24px;
  }

  .casper-btn:active, .casper-btn-sec:active {
    height: 40px;
    width: 96px;
    margin-left: 4px;
  }

  .casper-img-greeting {
    width: 160px;
    height: 160px;
  }
  
  .casper-img-celebratory {
    width: 240px;
    height: 260px;
  }

  .casper-expired-page h1 {
    line-height: 24px;
  }

  .casper-img-expired {
    width: 260px;
    height: 260px;
  }

  .subscr-btn, .setup-btn, .casper-btn-alt {
    font-size: 16px !important;
    width: 110px;
    height: 44px; 
  }

  .subscr-btn, .setup-btn {
    margin-top: 12px;
  }

  h1 {
    font-size: 16px;
    line-height: 18px;
  }
  
  h2 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin-top: 18px;
    letter-spacing: 0.02em;
  }
  
  p, td, th, ul, li, label {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
  }

  p, label {
    line-height: 16px;
  }
  
  a {
    font-size: 12px;
  }

  .subscribe-page, .setup-page {
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
  }

  .subscribe-text-block, .setup-text-block {
    text-align: center;
    width: 293px !important;
    margin-top: 10px;
  }

  .subscribe-text-block h1, .setup-text-block h1 {
    display: inline;
  }

  .subscribe-img-block, .setup-img-block {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .subscribe-checkboxes {
    width: 252px;
    margin: 0 auto;
  }

  .setup-checkboxes {
    width: 234px;
    margin: 0 auto;
  }

  .subscribe-checkboxes label, .setup-checkboxes label {
    text-align: start;
  }

  .divider {
    margin: 24px 0;
  }

  .youtube-video {
    width: 272px;
    height: 154px;
    margin: 20px 0;
  }

  .subscribe-tutor-p, .setup-tutor-p {
    line-height: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0;
  }

  .subscribe-tutor, .setup-tutor {
    margin-top: -5px;
  }

  .subscribe-text-block h2, .setup-text-block h2 {
    margin-top: 1.2em;
  }

  .subscribe-success-page h1, .setup-success-page h1 {
    line-height: 18px;
    font-size: 16px;
  }

  .subscribe-success-page h1:first-child, .setup-success-page h1:first-child {
    line-height: 0px;
  }

  .subscribe-success-page div, .setup-success-page div {
    margin-bottom: 10%;
    width: 312px;
    text-align: center;
  }

  .casper-failed-page div {
    align-items: center;
    margin-bottom: 30px;
  }

  .casper-failed-page h1 {
    max-width: 267px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7px;
  }
  
  .casper-failed-page p {
    max-width: 280px;
    font-size: 14px;
    line-height: 24px;
    margin-top: 0;
  }

  .casper-failed-page p:first-of-type {
    max-width: 240px;
  }
  
  .casper-failed-page a {
    font-size: 18px;
    line-height: 24px;
    max-width: 340px;
    margin-top: 3px;
  }

  .casper-img-failed {
    width: 260px;
    height: 150px;
    margin-bottom: 14px;
  }

  #faq-page header {
    flex-direction: column !important;
    padding-bottom: 28px;
  }

  .faq-page-img {
    margin: 36px auto 20px auto !important;
  }

  .faq-page-h1 h1 {
    font-size: 20px !important;
    text-align: center;
    line-height: 12px !important;
  }

  .questions-block {
    margin: 30px auto 30px auto !important;
    max-width: 320px !important;
  }

  .faq-page-text-block {
    width: 310px !important;
  }

  #faq-page h2 {
    font-size: 18px !important;
    letter-spacing: 0 !important;
  }

  .faq-page-text-block p {
    font-size: 14px !important;
  }

  .checkmark {
    margin: 0.35em 10px 0 0 !important;
  }

  .faq-page-content-block {
    margin-top: 10px !important;
  }

  .casper-menu {
    left: 0px !important;
  }

  #casper-singleevening-intro h2 {
    font-size: 14px !important;
    line-height: 16px !important;
    max-width: 309px !important;
    text-align: center;
  }

  #question-title-activity {
    max-width: 360px;
  }
}