.alert-window {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 60px;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 12px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  background: #F9D51A;
  margin-right: 12px;
}

.alert-window b, .alert-window i, .alert-window a {
  margin: 0 4px;
}

.alert-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

@media (max-width: 767px) { 
  .alert-icon {
    display: none;
  }

  .alert-window {
    margin-right: 0px;
    box-sizing: border-box;
    padding: 0 32px;
    text-align: center;
  }

  .alert-window b, .alert-window i, .alert-window a {
    margin: 0 1px;
    font-size: 10px;
  }

  .alert-window p {
    font-size: 10px;
  }
}